<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='sign_up.css') }}">
        <body>
            <div class="image">

            </div>
            <marquee>SIGN UP AND GET YOUR RIDE!</marquee>
            <div class="login">
                <h3><p><font color="white">Sign In NOW</font></p></h3>
                <form method = "post" action = "#" id = "signUp">
                    <center>
                    <br><input type="text" id="name" placeholder="Username" name = "username"><br>
                    <br><input type="text" id="email" placeholder="Email" name = "email"><br>
                    <br><input type="date" id="dob" placeholder="dateof" name = "date"><br>
                    <br><input type="number" id="phone" placeholder="Enter phone" name = "number"><br>
                    <br><input type="text" id="pass" placeholder="Enter password" name = "password"><br>
                    <br><input type="text" id="passcon" placeholder="Confirm password" name = "confirmPassword"><br>
                    <br>
                    <button onclick = "https://rzp.io/l/TL815e3">SIGN UP</button>
                    
                    </center>
                </form>
            </div>
        </body>
    </head>
</html>